# Mot de passe de la base Postgres contenant les données. Peu important car les données sont publiques
# POSTGRES_PASSWORD=

# Mot de passe de la base Postgres contenant les données des utilisateurs de Metabase.
# Important de la garder secrète car cette base peut contenir des informations confidentielles
# MB_POSTGRES_PASSWORD=
